<table id="casos" class="table table-dark">
  <thead>
    <h1>Dados da covid no brasil fonte: Relatos</h1>
    <tr>
      <th scope="col">Estado</th>
      <th scope="col">Casos</th>
      <th scope="col">Mortes</th>
      <th scope="col">Data atualizada</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">PR</th>
      <td>100</td>
      <td>100</td>
      <td>100</td>
    </tr>
    <tr>
      <th scope="row">SC</th>
      <td>100</td>
      <td>100</td>
      <td>100</td>
    </tr>
    <tr>
      <th scope="row">SP</th>
      <td>100</td>
      <td>100</td>
      <td>100</td>
    </tr>
  </tbody>
</table>