
<div class="dropdown" id="droprelatos">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Selecione o estado
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">PR</a>
    <a class="dropdown-item" href="#">SC</a>
    <a class="dropdown-item" href="#">MG</a>
  </div>
</div>
<div id="borda">
<div class="container">
<div class="p-3 mb-2 bg-info text-white"><h3>Relatos do estado X:</h3></div>
 <p class="text-warning">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, iusto voluptatem, consequuntur earum temporibus quibusdam architecto voluptatum magni suscipit illo molestias porro laudantium et, laborum repudiandae fuga! Sed, nostrum esse!</p>
</div>
</div>