<div class="container">
<div class="p-2 mb-1 bg-info text-black"><h4>COM MAIS 327 MORTES, SP BATE RECORDE DE ÓBITOS E DE NOVOS CASOS CONFIRMADOS DE COVID-19</h4></div>
 <p class="text-inline">Em meio a um processo de abertura econômica e redução das regras de distanciamento social, o Estado de São Paulo voltou a bater recorde de mortes e casos nas últimas 24 horas.<br>
 O número de óbitos chegou a 327, elevando o total para 7.994 registros. O total de infecções subiu de 111.296 para 118.295, aumento de 6.999 pacientes de segunda para terça-feira.</p>
 <img src="https://politica.estadao.com.br/blogs/radar-politico/wp-content/uploads/sites/39/2020/06/jose-henrique-germann_020620201610.jpg" alt="Foto: Governo de São Paulo" width="430" height="300">
 <p>Mais informações em <a href="https://saude.estadao.com.br/noticias/geral,com-mais-327-mortes-sao-paulo-bate-recorde-obitos-e-de-novos-casos-de-covid-19,70003322189" target="_blank">Estadão</a> Fonte: Governo do Estado de SP</p>
</div>